extends layout

block append pageStyles
  style(type='text/css').
    .mac-style{
      -webkit-transition: width  1s ease-in-out;
      -moz-transition: width  1s ease-in-out;
      -o-transition: width  1s ease-in-out;
      transition: width  1s ease-in-out;
      width: 200px;
    }
    .mac-style:focus{
      width: 500px;
    }
    [class^="fa"], [class*=" fa-"] {
      display: inline-block;
      width: 100%;
      text-align: center;
      color:#92ba00;
    }
    a.btn i{
      color:white;padding-right: 16px;
    }
    .gi-4x{font-size: 4em;}
    .gi-5x{font-size: 8em; color:#92ba00;}
    .col-lg-4 i {display:block;text-align:center}
    /* http://blog.koalite.com/bbg */
    .btn-imagina {
      color: #FFFFFF;
      background-color: #92BA00;
      border-color: #789900;
    }
    .btn-imagina:hover,
    .btn-imagina:focus,
    .btn-imagina:active,
    .btn-imagina.active,
    .open .dropdown-toggle.btn-imagina {
      color: #FFFFFF;
      background-color: #9AC401;
      border-color: #789900;
    }
    .btn-imagina:active,
    .btn-imagina.active,
    .open .dropdown-toggle.btn-imagina {
      background-image: none;
    }
    .btn-imagina.disabled,
    .btn-imagina[disabled],
    fieldset[disabled] .btn-imagina,
    .btn-imagina.disabled:hover,
    .btn-imagina[disabled]:hover,
    fieldset[disabled] .btn-imagina:hover,
    .btn-imagina.disabled:focus,
    .btn-imagina[disabled]:focus,
    fieldset[disabled] .btn-imagina:focus,
    .btn-imagina.disabled:active,
    .btn-imagina[disabled]:active,
    fieldset[disabled] .btn-imagina:active,
    .btn-imagina.disabled.active,
    .btn-imagina[disabled].active,
    fieldset[disabled] .btn-imagina.active {
      background-color: #92BA00;
      border-color: #789900;
    }
    .btn-imagina .badge {
      color: #92BA00;
      background-color: #FFFFFF;
    }


block body
  body
    // http://www.bootply.com/SyA8I3PXjf
    #navbar-header.collapse
      .container.bg-inverse.p-a-1
        h3 Collapsed content
        p Toggleable via the navbar brand.
    nav.navbar.navbar-light.navbar-static-top.bg-faded
      .container
        button.navbar-toggler.hidden-sm-up(type='button', data-toggle='collapse', data-target='#exCollapsingNavbar2')
          | ☰
        #exCollapsingNavbar2.collapse.navbar-toggleable-xs
          a.navbar-brand(href='#')
            img(alt='Brand', src='/static/imagina-32.png')
          form.pull-xs-right(action='')
            .form-group
              input#nav-search.form-control.mac-style(name='Search', placeholder='Search', type='text')
          ul.nav.navbar-nav.pull-xs-right
            li.nav-item.active
              a.nav-link(href='new.html', title='add')
                i.fa.fa-plus
            li.nav-item.active(style='margin-right: 16px;')
              a.nav-link(href='#', title='admin')
                i.fa.fa-cog
          //
            <ul class="nav navbar-nav">
            <li class="nav-item active">
            <a class="nav-link" href="#">Nav item <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Another nav item</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">More nav</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Last link</a>
            </li>
            </ul>
    .container
      .row
        br
        .col-sm-12
          .card
            h3.card-header.card-info #{tarea.title}
            .card-block
              p.card-text #{tarea.description}
              each TAG in tarea.tags
                a.card-link(href='#') #{TAG}
              hr
              p.card-text Creado en: #{moment(tarea.dateCreation).format("YYYY-MM-DD HH:mm")} 
              p.card-text Actualizado en: #{moment( tarea.dateEdition ).format("YYYY-MM-DD HH:mm")}
              hr
              .text-xs-center
                a.btn.btn-imagina(href='/list')
                  | Volver
                  i.fa.fa-arrow-left
                a.btn.btn-imagina(href='edit/#{tarea._id}')
                  | Editar
                  i.fa.fa-pencil-square-o
                a.btn.btn-danger(href='delete/#{tarea._id}')
                  | Eliminar
                  i.fa.fa-trash-o
    hr
    include footer
