extends layout

block append pageStyles
  style(type='text/css').
    .mac-style{
      -webkit-transition: width  1s ease-in-out;
      -moz-transition: width  1s ease-in-out;
      -o-transition: width  1s ease-in-out;
      transition: width  1s ease-in-out;
      width: 200px;
    }
    .mac-style:focus{
      width: 500px;
    }
    [class^="fa"], [class*=" fa-"] {
      display: inline-block;
      width: 100%;
      text-align: center;
      color:#92ba00;
    }
    a.btn i{
      color:white;padding-right: 16px;
    }
    .gi-4x{font-size: 4em;}
    .gi-5x{font-size: 8em; color:#92ba00;}
    .col-lg-4 i {display:block;text-align:center}
    /* http://blog.koalite.com/bbg */
    .btn-imagina {
      color: #FFFFFF;
      background-color: #92BA00;
      border-color: #789900;
    }
    .btn-imagina:hover,
    .btn-imagina:focus,
    .btn-imagina:active,
    .btn-imagina.active,
    .open .dropdown-toggle.btn-imagina {
      color: #FFFFFF;
      background-color: #9AC401;
      border-color: #789900;
    }
    .btn-imagina:active,
    .btn-imagina.active,
    .open .dropdown-toggle.btn-imagina {
      background-image: none;
    }
    .btn-imagina.disabled,
    .btn-imagina[disabled],
    fieldset[disabled] .btn-imagina,
    .btn-imagina.disabled:hover,
    .btn-imagina[disabled]:hover,
    fieldset[disabled] .btn-imagina:hover,
    .btn-imagina.disabled:focus,
    .btn-imagina[disabled]:focus,
    fieldset[disabled] .btn-imagina:focus,
    .btn-imagina.disabled:active,
    .btn-imagina[disabled]:active,
    fieldset[disabled] .btn-imagina:active,
    .btn-imagina.disabled.active,
    .btn-imagina[disabled].active,
    fieldset[disabled] .btn-imagina.active {
      background-color: #92BA00;
      border-color: #789900;
    }
    .btn-imagina .badge {
      color: #92BA00;
      background-color: #FFFFFF;
    }


block body
  body
    include header
    .container
      .row
        br
        .col-sm-12
          .card
            h3.card-header.card-info #{tarea.title}
            .card-block
              p.card-text #{tarea.description}
              each TAG in tarea.tags
                a.card-link(href='#') #{TAG}
              hr
              p.card-text Creado en: #{moment(tarea.dateCreation).format("YYYY-MM-DD HH:mm")} 
              p.card-text Creado por: #{tarea.createdBy} 
              p.card-text Actualizado en: #{moment( tarea.dateEdition ).format("YYYY-MM-DD HH:mm")}
              if tarea.editedBy
                p.card-text Actualizado por: #{tarea.editedBy} 
              hr
              .text-xs-center
                a.btn.btn-imagina(href='/list')
                  | Volver
                  i.fa.fa-arrow-left
                a.btn.btn-imagina(href='/edit/#{tarea._id}')
                  | Editar
                  i.fa.fa-pencil-square-o
                a#delete-btn.btn.btn-danger
                  | Eliminar
                  i.fa.fa-trash-o
    hr
    include footer
  script.
    $(document).ready(function(){


      $('#delete-btn').click(function(){
        var request = $.ajax({
          url: 'http://localhost:3000/edit/#{tarea._id}',
          method: "DELETE"
        })

        request.done(function( e ) {
          console.log(e);
          location.href = '/list'
        });
         
        request.fail(function( e ) {
          console.log(e);
          alert('Error al borrar')
        });

      });


    });